@import url("../root.css");

* {
  background-color: var(--bg);
  font-family: var(--fonts);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text);
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--text-muted);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
