@import url("../root.css");

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}
* {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}
.grid-container .grid-item {
  background-color: var(--bg-light);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: var(--fonts);
  color: var(--text-muted);
}
.grid-container .grid-item:hover {
  background-color: var(--bg-dark);
  color: var(--text);
  cursor: pointer;
}
