@import url("../root.css");
* {
  background-color: var(--bg);
}
.toasts {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-family: var(--fonts);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.toasts .toast {
  background-color: var(--bg-light);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideIn 0.5s ease-out;
  border-radius: 0.3rem;
  border-left: 4px solid;
}
.toasts .toast.success {
  color: var(--success);
}
.toasts .toast.error {
  color: var(--error);
}
.toasts .toast.info {
  color: var(--info);
}
.toasts .toast.warning {
  color: var(--warning);
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
