@import url("../root.css");
* {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color: var(--text-muted);
}

.card {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--bg-light);
  box-shadow: 0 0 10px var(--bg-dark);
}
.card h2 {
  color: var(--text);
  padding-bottom: 1rem;
  background-color: inherit;
}
.card p {
  color: var(--text-muted);
  background-color: inherit;
}

button {
  margin-top: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-dark);
  color: var(--text);
  cursor: pointer;
}
button:hover {
  background-color: var(--bg);
  color: var(--text-muted);
}
